@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/*
  this theme can be changed easily at themeCN
  https://themecn.liu.com.jm/?theme=eyJsIjp7ImJnIjoiMzAsOTEsOTYiLCJmZyI6IjI2LDEwLDQiLCJwIjoiMjYsODUsNDUiLCJzIjoiMjYsMjUsODUiLCJhIjoiMjYsNTUsNzUiLCJkIjoiMzU3LjE4LDEwMCw0NSJ9LCJyIjowLjV9
*/

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.972 0.006 74.91696408136228);
  --foreground: oklch(0.292 0.015 53.82294825902236);
  --card: oklch(0.972 0.006 74.91696408136228);
  --card-foreground: oklch(0.292 0.015 53.82294825902236);
  --popover: oklch(0.972 0.006 74.91696408136228);
  --popover-foreground: oklch(0.292 0.015 53.82294825902236);
  --primary: oklch(0.720 0.128 46.59190520632349);
  --primary-foreground: oklch(0.962 0.002 48.72386020814526);
  --secondary: oklch(0.972 0.006 74.91696408136228);
  --secondary-foreground: oklch(0.225 0.019 74.04444835236941);
  --muted: oklch(0.972 0.006 74.91696408136228);
  --muted-foreground: oklch(0.590 0.066 73.42555061253452);
  --accent: oklch(0.986 0.009 62.078600066291955);
  --accent-foreground: oklch(0.225 0.030 59.67420574654318);
  --destructive: #d95d66;
  --border: oklch(0.902 0.021 74.79578480432289);
  --input: oklch(0.902 0.021 74.79578480432289);
  --ring: oklch(0.720 0.128 46.59190520632349);
  --chart-1: oklch(0.720 0.128 46.59190520632349);
  --chart-2: oklch(0.698 0.133 46.305974699319556);
  --chart-3: oklch(0.767 0.084 47.58834166162106);
  --chart-4: oklch(0.452 0.128 42.26613417018686);
  --chart-5: oklch(0.343 0.093 43.24991744828508);
  --sidebar: oklch(0.972 0.006 74.91696408136228);
  --sidebar-foreground: oklch(0.225 0.019 74.04444835236941);
  --sidebar-primary: oklch(0.720 0.128 46.59190520632349);
  --sidebar-primary-foreground: oklch(0.962 0.002 48.72386020814526);
  --sidebar-accent: oklch(0.986 0.009 62.078600066291955);
  --sidebar-accent-foreground: oklch(0.225 0.030 59.67420574654318);
  --sidebar-border: oklch(0.902 0.021 74.79578480432289);
  --sidebar-ring: oklch(0.720 0.128 46.59190520632349);
}

.dark {
  --background: oklch(0.193 0.016 47.88083843372555);
  --foreground: oklch(0.985 0.001 54.48933712194197);
  --card: oklch(0.238 0.023 47.74932793257986);
  --card-foreground: oklch(0.985 0.001 54.48933712194197);
  --popover: oklch(0.238 0.023 47.74932793257986);
  --popover-foreground: oklch(0.985 0.001 54.48933712194197);
  --primary: oklch(0.694 0.121 46.668629967351684);
  --primary-foreground: oklch(0.962 0.002 48.72386020814526);
  --secondary: oklch(0.352 0.039 73.48101051701663);
  --secondary-foreground: oklch(0.965 0.007 74.91134126788131);
  --muted: oklch(0.352 0.039 73.48101051701663);
  --muted-foreground: oklch(0.736 0.025 74.70424613773218);
  --accent: oklch(0.741 0.147 56.76049355658756);
  --accent-foreground: oklch(0.964 0.011 62.04533948484204);
  --destructive: oklch(0.580 0.237 28.43022926835143);
  --border: oklch(0.451 0.059 72.85493029304554);
  --input: oklch(0.451 0.059 72.85493029304554);
  --ring: oklch(0.694 0.121 46.668629967351684);
  --chart-1: oklch(0.694 0.121 46.668629967351684);
  --chart-2: oklch(0.737 0.132 46.5685250803581);
  --chart-3: oklch(0.809 0.098 47.45461498928916);
  --chart-4: oklch(0.486 0.116 44.789342624330494);
  --chart-5: oklch(0.378 0.069 46.46202798657393);
  --sidebar: oklch(0.322 0.035 47.604119932482064);
  --sidebar-foreground: oklch(0.962 0.002 48.72386020814526);
  --sidebar-primary: oklch(0.694 0.121 46.668629967351684);
  --sidebar-primary-foreground: oklch(0.962 0.002 48.72386020814526);
  --sidebar-accent: oklch(0.741 0.147 56.76049355658756);
  --sidebar-accent-foreground: oklch(0.964 0.011 62.04533948484204);
  --sidebar-border: oklch(0.418 0.029 47.99908067855792);
  --sidebar-ring: oklch(0.694 0.121 46.668629967351684);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}