@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/*
  this theme can be changed easily at themeCN
  https://themecn.liu.com.jm/?theme=eyJsIjp7ImJnIjoiMzAsOTEsOTYiLCJmZyI6IjI2LDEwLDQiLCJwIjoiMjYsODUsNDUiLCJzIjoiMjYsMjUsODUiLCJhIjoiMjYsNTUsNzUiLCJkIjoiMzU3LjE4LDEwMCw0NSJ9LCJyIjowLjV9
*/

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.146 0.003 60.76015834151969);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.146 0.003 60.76015834151969);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.146 0.003 60.76015834151969);
  --primary: oklch(0.732 0.141 55.529761494481455);
  --primary-foreground: oklch(0.962 0.002 60.253288489715324);
  --secondary: oklch(1.000 0.000 0);
  --secondary-foreground: oklch(0.203 0.026 19.540816501027614);
  --muted: oklch(1.000 0.000 0);
  --muted-foreground: oklch(0.515 0.092 20.755581725915995);
  --accent: oklch(0.834 0.073 0.13537704183260252);
  --accent-foreground: oklch(0.201 0.044 3.958068819113662);
  --destructive: oklch(0.580 0.237 28.43022926835143);
  --border: oklch(0.923 0.000 0);
  --input: oklch(0.923 0.000 0);
  --ring: oklch(0.732 0.141 55.529761494481455);
  --chart-1: oklch(0.732 0.141 55.529761494481455);
  --chart-2: oklch(0.723 0.125 56.48175947268729);
  --chart-3: oklch(0.784 0.081 58.63083610127979);
  --chart-4: oklch(0.472 0.118 50.771858669956075);
  --chart-5: oklch(0.358 0.085 52.04926382342342);
  --sidebar: oklch(1.000 0.000 0);
  --sidebar-foreground: oklch(0.203 0.026 19.540816501027614);
  --sidebar-primary: oklch(0.732 0.141 55.529761494481455);
  --sidebar-primary-foreground: oklch(0.962 0.002 60.253288489715324);
  --sidebar-accent: oklch(0.834 0.073 0.13537704183260252);
  --sidebar-accent-foreground: oklch(0.201 0.044 3.958068819113662);
  --sidebar-border: oklch(0.923 0.000 0);
  --sidebar-ring: oklch(0.732 0.141 55.529761494481455);
}

.dark {
  --background: oklch(0.196 0.015 59.11942395142658);
  --foreground: oklch(0.962 0.002 60.253288489715324);
  --card: oklch(0.242 0.022 58.90334641941136);
  --card-foreground: oklch(0.962 0.002 60.253288489715324);
  --popover: oklch(0.242 0.022 58.90334641941136);
  --popover-foreground: oklch(0.962 0.002 60.253288489715324);
  --primary: oklch(0.723 0.125 56.48175947268729);
  --primary-foreground: oklch(0.962 0.002 60.253288489715324);
  --secondary: oklch(0.360 0.018 18.023003699111552);
  --secondary-foreground: oklch(0.956 0.008 17.30104028497268);
  --muted: oklch(0.360 0.018 18.023003699111552);
  --muted-foreground: oklch(0.705 0.032 17.93531698322323);
  --accent: oklch(0.643 0.201 7.912556631644521);
  --accent-foreground: oklch(0.954 0.015 358.14889188144485);
  --destructive: oklch(0.580 0.237 28.43022926835143);
  --border: oklch(0.400 0.032 18.584208378029565);
  --input: oklch(0.400 0.032 18.584208378029565);
  --ring: oklch(0.723 0.125 56.48175947268729);
  --chart-1: oklch(0.723 0.125 56.48175947268729);
  --chart-2: oklch(0.762 0.124 56.90392528441004);
  --chart-3: oklch(0.828 0.094 58.400901743124294);
  --chart-4: oklch(0.506 0.108 54.20708799337484);
  --chart-5: oklch(0.391 0.065 56.731438772224344);
  --sidebar: oklch(0.329 0.034 58.6578115789618);
  --sidebar-foreground: oklch(0.962 0.002 60.253288489715324);
  --sidebar-primary: oklch(0.723 0.125 56.48175947268729);
  --sidebar-primary-foreground: oklch(0.962 0.002 60.253288489715324);
  --sidebar-accent: oklch(0.643 0.201 7.912556631644521);
  --sidebar-accent-foreground: oklch(0.954 0.015 358.14889188144485);
  --sidebar-border: oklch(0.427 0.039 58.858638439742684);
  --sidebar-ring: oklch(0.723 0.125 56.48175947268729);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}