@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/*
  this theme can be changed easily at themeCN
  https://themecn.liu.com.jm/?theme=eyJsIjp7ImJnIjoiMzAsOTEsOTYiLCJmZyI6IjI2LDEwLDQiLCJwIjoiMjYsODUsNDUiLCJzIjoiMjYsMjUsODUiLCJhIjoiMjYsNTUsNzUiLCJkIjoiMzU3LjE4LDEwMCw0NSJ9LCJyIjowLjV9
*/

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.147 0.003 71.77641578716242);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.147 0.003 71.77641578716242);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.147 0.003 71.77641578716242);
  --primary: oklch(0.807 0.145 66.5163749137112);
  --primary-foreground: oklch(0.963 0.002 71.4309196124142);
  --secondary: oklch(0.971 0.004 71.41137079860641);
  --secondary-foreground: oklch(0.224 0.019 70.37268199483773);
  --muted: oklch(0.971 0.004 71.41137079860641);
  --muted-foreground: oklch(0.585 0.065 69.71464035439845);
  --accent: oklch(0.936 0.091 109.64341705229062);
  --accent-foreground: oklch(0.262 0.041 110.67467177590949);
  --destructive: oklch(0.580 0.237 28.43022926835143);
  --border: oklch(0.898 0.016 71.29211804788922);
  --input: oklch(0.898 0.016 71.29211804788922);
  --ring: oklch(0.807 0.145 66.5163749137112);
  --chart-1: oklch(0.807 0.145 66.5163749137112);
  --chart-2: oklch(0.749 0.122 67.62873574958448);
  --chart-3: oklch(0.802 0.081 69.99294760217661);
  --chart-4: oklch(0.495 0.110 61.36573479688126);
  --chart-5: oklch(0.375 0.080 62.73771330693965);
  --sidebar: oklch(0.971 0.004 71.41137079860641);
  --sidebar-foreground: oklch(0.224 0.019 70.37268199483773);
  --sidebar-primary: oklch(0.807 0.145 66.5163749137112);
  --sidebar-primary-foreground: oklch(0.963 0.002 71.4309196124142);
  --sidebar-accent: oklch(0.936 0.091 109.64341705229062);
  --sidebar-accent-foreground: oklch(0.262 0.041 110.67467177590949);
  --sidebar-border: oklch(0.898 0.016 71.29211804788922);
  --sidebar-ring: oklch(0.807 0.145 66.5163749137112);
}

.dark {
  --background: oklch(0.200 0.016 70.49218166062464);
  --foreground: oklch(0.963 0.002 71.4309196124142);
  --card: oklch(0.247 0.022 70.27566544764142);
  --card-foreground: oklch(0.963 0.002 71.4309196124142);
  --popover: oklch(0.247 0.022 70.27566544764142);
  --popover-foreground: oklch(0.963 0.002 71.4309196124142);
  --primary: oklch(0.771 0.148 65.49377870175259);
  --primary-foreground: oklch(0.963 0.002 71.4309196124142);
  --secondary: oklch(0.344 0.029 70.33678239116261);
  --secondary-foreground: oklch(0.964 0.007 71.39082599369937);
  --muted: oklch(0.344 0.029 70.33678239116261);
  --muted-foreground: oklch(0.734 0.025 71.1224015100236);
  --accent: oklch(0.907 0.177 111.35096563533752);
  --accent-foreground: oklch(0.977 0.017 108.25283864536628);
  --destructive: oklch(0.580 0.237 28.43022926835143);
  --border: oklch(0.440 0.047 69.85093938463903);
  --input: oklch(0.440 0.047 69.85093938463903);
  --ring: oklch(0.771 0.148 65.49377870175259);
  --chart-1: oklch(0.771 0.148 65.49377870175259);
  --chart-2: oklch(0.788 0.122 68.09883438589182);
  --chart-3: oklch(0.849 0.094 69.74831460923104);
  --chart-4: oklch(0.528 0.103 65.11134316626364);
  --chart-5: oklch(0.404 0.064 67.90675326284759);
  --sidebar: oklch(0.336 0.034 70.02132384503237);
  --sidebar-foreground: oklch(0.963 0.002 71.4309196124142);
  --sidebar-primary: oklch(0.771 0.148 65.49377870175259);
  --sidebar-primary-foreground: oklch(0.963 0.002 71.4309196124142);
  --sidebar-accent: oklch(0.907 0.177 111.35096563533752);
  --sidebar-accent-foreground: oklch(0.977 0.017 108.25283864536628);
  --sidebar-border: oklch(0.440 0.047 69.85093938463903);
  --sidebar-ring: oklch(0.771 0.148 65.49377870175259);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}